# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Ignore all .env files
*.env

# Except .env.example
!.env.example

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore