<%- include('./partials/header', { title: 'Unit Converter', active: active }) %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form action="/convert" method="POST" class="border p-4 rounded">
            <h2 class="mb-3">Convert Length</h2>
            <div class="mb-3">
                <label for="value" class="form-label"
                    >Enter the length to convert</label
                >
                <input
                    type="number"
                    id="value"
                    name="value"
                    class="form-control"
                    placeholder="Enter value"
                    required
                />
            </div>
            <div class="mb-3">
                <label for="from" class="form-label"
                    >Unit to Convert from</label
                >
                <input
                    type="text"
                    id="from"
                    name="from"
                    class="form-control"
                    placeholder="e.g., ft"
                    required
                />
            </div>
            <div class="mb-3">
                <label for="to" class="form-label">Unit to Convert to</label>
                <input
                    type="text"
                    id="to"
                    name="to"
                    class="form-control"
                    placeholder="e.g., cm"
                    required
                />
            </div>
            <button type="submit" class="btn btn-primary w-100">Convert</button>
        </form>
    </div>
</div>

<%- include('./partials/footer') %>
